@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	font-family: 'open sans';
	background-color: #21202A;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 100;
}
/*a:hover, a:active, a:focus {*/
a:focus {
	outline: 0;
	border-width: 2px;
	border-style: solid;
	border-color: orange;
}
.header-container {
	grid-area: header;
}
.bio-container {
	grid-area: bio;
}
.main-header {
	grid-area: main-header;
}
.main-container {
	grid-area: main;
}
.side-container {
	grid-area: sidebar;
	width: 100%;	
}
.footer-container {
	grid-area: footer;
}

.page-grid {
	display: grid;
	grid-template-columns:minmax(300px, 500px);
	grid-template-rows: auto;
	grid-row-gap: 1rem;
	grid-column-gap: 40px;
	grid-template-areas: 
		"header"
		"bio "
		"main-header"
		"main"
		"sidebar"
		"footer";
}
.grid-header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
.page-header {
	padding-top: 1rem;	
}
.bio-item {
	padding-left: 10px;
	padding-right: 10px;
}
.grid-main {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(300px, 500px);
	grid-template-rows: auto;
	grid-gap: 2rem;
}
.main-item {
	padding-left: 10px;
	padding-right: 10px;
}
.tiled-list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	font-size: 0px;
}
.side-item {
	background-color: rgba(0, 146, 148, .1);
	border-radius: 10px;
	margin-bottom: 1rem;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
@media (min-width: 540px) {
	.page-grid {
		display: grid;
		grid-template-columns: 1fr minmax(320px, 540px) 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;
		grid-template-areas: 
			". header ."
			". bio ."
			". main-header ."
			". main ."
			". sidebar ."
			". footer .";
	}
	.grid-main {
		width: 100%;
		display: grid;
		grid-template-columns: minmax(320px, 540px);/*not sure yet*/
		grid-template-rows: auto;
		grid-gap: 2rem;
	}
	.tiled-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		font-size: 0px;
	}		
}
@media (min-width: 900px) {
	.page-grid {
		display: grid;
		grid-template-columns: 1fr minmax(260px, 280px) minmax(320px, 540px) 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;
		grid-template-areas: 
			". header main-header ."
			". bio  main ."
			". bio sidebar ."
			". footer footer .";
	}
	.grid-main {
		width: 100%;
		display: grid;
		grid-template-columns: minmax(320px, 540px);/*not sure yet*/
		grid-template-rows: auto;
		grid-gap: 2rem;
	}
	.page-header {
		padding-top: 0;	
	}	
	.tiled-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		font-size: 0px;
	}		
}
@media (min-width: 1120px) {
	.page-grid {
		display: grid;
		grid-template-columns: 1fr minmax(250px, 300px) minmax(480px, 540px) minmax(250px, 300px) 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;
		grid-template-areas: 
			". header  main-header . ."
			". bio main sidebar ."
			". footer footer footer .";
	}
	.grid-main {
		width: 100%;
		display: grid;
		grid-template-columns: minmax(480, 540px);/*not sure yet*/
		grid-template-rows: auto;
		grid-gap: 2rem;
	}
	.page-header {
		padding-top: 0;	
	}		
	.tiled-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		font-size: 0px;
	}		
}
.tab-container { 
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;	
}
.tab-item {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	display: inline-block;
	flex: 0 0 auto;	
}

.bio-text {
	margin-top: 1em;
	line-height: 1.5rem;
}
.bioextra {
	display: inline-block;
	margin-top: 1em;
	line-height: 1.5rem;
	/*letter-spacing: 1px;*/
	margin-right: .5em;
	color: rgba(136,153,165,0.9);
}
i {
	letter-spacing: .2em;
}
.waifu {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-left: 5px;
}
.social-icon {
	width: 16px; 
	height=16px; 
	margin-right: 5px;
	/*border-radius: 25%;*/
	vertical-align: bottom;
}
.social-button {
	display: inline-block;
	/*margin-top: 1rem;*/
	margin-bottom: 1rem;
	padding: 5px;
	font-size: .8em;
	/*background-color: blue;*/
}
.social-button > i {
	font-size: 16px;
}
.social {
	margin-top: 2rem;
}
.scrolling-container { 
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;	
}
.tiled-list-card {
	width: 207px;
	padding: 5px;
	margin-right: 1rem;
	display: inline-block;  
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgba(0, 146, 148);
	flex: 0 0 auto;	
}
.first-card {
	/*margin-left: 1rem;*/
}
.last-card {
	width: 1px;
	height: 1px;
	border-width: 0px;	
}
.card-tiled-list {
	display: grid;
	grid-template-columns: minmax(96px, 1fr) minmax(96px, 1fr);
	grid-gap: 5px;
	grid-template-rows: auto;
	font-size: 0px;	
}
.tile {
	width: 100%;
	/*border-radius: 5px;*/
	/*overflow: hidden;*/
}
.tile > a {
	display: block;
	text-decoration: none;
}
.thumbnail {
	width: 100%;
	border-radius: 5px;
}
.box-list-tiem {
	padding-top: .5rem;
	padding-bottom: .5rem;
	/*padding-left: 10px;
	padding-right: 10px;*/
	/*border-top: 1px;*/
	border-bottom: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3) /*rgba(0, 146, 148);*/
}
.box-list-tiem:first-of-type {
	border-top: 1px;
	/*border-bottom: 1px;*/
	border-style: solid;
	border-color: rgba(136,153,165,0.3) /*rgba(0, 146, 148);*/
}
.song-anime {
	display: block;
	color: rgba(0, 146, 148); /*#FC8F58;*/

}
.box-list-header {
	display: block;
	width: 100%;
	/*padding-left: 10px;
	padding-right: 10px;*/
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5em;
	/*background-color: blue;*/	
}
.stack-list-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	/*grid-row-gap: 1rem;*/
	padding: 0;
}
.stack-item {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3); /*#21202A*/
}
.stack-heading {
	padding-top: 1rem;
	padding-bottom: 1rem;	
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	font-weight: bold;
}
.stack-link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: lighter;
}
.stack-image {
	width: 30px;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 50%;
}
h1 {
	font-size: 1.5em;
	font-weight: lighter;
}
h2 { 
	width: 100%;
	margin-bottom: 1rem;
	font-size: 1.5em;
	font-weight: lighter;
}
h4 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: lighter;
}
.page-header {
	align-self: center;
	margin: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	/*background-color: blue;*/
}
#name{
	margin: 0;
	padding: 0;	
	font-weight: 900;
	/*background-color: blue;*/
}