@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	font-family: 'open sans';
	background-color: #21202A;
	color: #FFFFFF;
}
#header {
	grid-area: header;
}
#main {
	grid-area: main;
}
#footer {
	grid-area: footer;
}
.page-grid {
	display: grid;
	grid-template-columns: minmax(320px, 480px);
	grid-template-rows: auto;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}
.main-grid-layout {
/*	display: grid;*/
}
.section-header {
	padding: 0px 1rem;
	margin-top: 1rem;
	font-size: 1em;
	font-weight: 100;	
}
.section-main {
	margin-top: 2rem;
	padding: 0px 1rem;
}
.section-scrolling {
	margin-top: 2rem;
}
.bio {
	margin-top: .5rem;
	line-height: 1.3em;
}
.bioextra {
	display: inline-block;
	margin-right: .5rem;
	color: rgba(136,153,165,0.9);
}
i {
	letter-spacing: .2em;
}
.waifu {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-left: 5px;
}
.social-icon {
	width: 16px; 
	height=16px; 
	margin-right: 5px;
	/*border-radius: 25%;*/
	vertical-align: bottom;
}
.social-button {
	display: inline-block;
	/*margin-top: 1rem;*/
	margin-bottom: 1rem;
	padding: 5px;
	font-size: .8em;
	/*background-color: blue;*/
}
.social-button > i {
	font-size: 16px;
}
.social {
	margin-top: 2rem;
}
.tiled-list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;/*minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);*/
	grid-template-rows: auto;
	grid-gap: 10px;
	font-size: 0px;
}
.scrolling-container { 
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;	
}
.tiled-list-card {
	width: 207px;
	padding: 5px;
	margin-right: 1rem;
	display: inline-block;  
	border-style: solid;
	border-width: 1px;
	border-color: #009294;
	border-radius: 10px;
	border-color: rgba(0, 146, 148);
	flex: 0 0 auto;	
}
.first-card {
	margin-left: 1rem;
}
.last-card {
	width: 1px;
	height: 1px;
	border-width: 0px;	
}
.card-tiled-list {
	display: grid;
	grid-template-columns: minmax(96px, 1fr) minmax(96px, 1fr);
	grid-gap: 5px;
	grid-template-rows: auto;
	font-size: 0px;	
}
.tile {
	width: 100%;
}
.thumbnail {
	width: 100%;
	border-radius: 5px;
}
h1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 0px 1rem;
	/*text-align: center;*/
	font-size: 1.5em;
	font-weight: 100;
}
h2 { 
	margin-bottom: .5rem;
	width: 100%;
	font-size: 1.5em;
}
h4 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: lighter;
}
#name{font-weight: 900;}