@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	font-family: 'open sans';
	background-color: rgb(21,32,43) /* rgb(7,48,66) #21202A*/;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 100;
}

/* Profile Bio ======================*/
#bio {
	margin-bottom: 1rem;
	/*background-color: green;*/
}
#name{
	margin-bottom: 1rem;
	padding: 0 10px;	
	font-weight: 900;
	/*background-color: blue;*/
}
#biotext {
	padding: 0 10px;	
	line-height: 1.5rem;
}

/* Navigation ======================*/
#nav {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;	
	align-items: center;
	margin-bottom: 1rem;
	padding: 1rem 0;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3); /*#21202A*/
	/*background-color: blue;*/
}
.nav-item {
	display: inline-block;
	width: min-content;
	white-space: nowrap;
	margin-right: 1rem;
	padding:6px 12px;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;;
	border-color: #ec7261;
	background-color: rgb(21,32,43);
	color: rgb(236,114,97);
	font-size: 1em;
}
.nav-item-selected {
	display: inline-block;
	margin-right: 1rem;
	padding:6px 12px;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
	border-color: rgb(236,114,97);
	background-color: rgb(236,114,97);
	color: rgb(21,32,43);
	font-weight: bold;
	font-size: 1em;
}
.first-nav-item {
	margin-left: 10px;	
}

.nav-item-active {
	/*display: inline-block;*/
}
.nav-item-inactive {
	/*display: none;*/
}
.tab-active {
	/*display: block;*/
}
.tab-inactive {
	/*display: none;*/
}

/* Abount ======================*/
#tab_about {
	margin-bottom: 1rem;
	/*background-color: purple;*/
}
#about_fields {
	margin-bottom: 1rem;
	padding: 2px;

	/*background-color: green;*/
}
.about-field {
	/*margin-left: 10px;
	margin-bottom: 10px;*/
	padding: 8px;
	color: rgba(136,153,165,0.9);
}
.about-tags {
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-right: 10px;
	border-top: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3); /*#21202A*/
}
.about-tag {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	color: rgba(136,153,165,0.9);
}
.field-icon {
	/*letter-spacing: .2em;*/
	width: 1.5rem;
	font-size: 1em;
	text-align: center;
	/*background-color: green;*/
}
.waifu {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-left: 5px;
}

/* Spotlight ======================*/
.spotlight-item {
	margin-bottom: 2rem;
	padding: 0 10px;	
}
/* Favorites ======================*/
.favorite-item {
	margin-bottom: 2rem;
	padding: 0 10px;	
}
.tiled-list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	font-size: 0px;
}
#scrolling_genre_cards {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;		
	padding: 0;
}
.tiled-list-card {
	display: inline-block;  
	width: 210px;
	margin-right: 1rem;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgba(136,153,165,1); /*#21202A*/
	/*border-color: rgba(248,104,52,1) /*rgba(0, 146, 148)*/;
	flex: 0 0 auto;	
}
.first-card {
	margin-left: 10px;
}
.last-card {
	width: 1px;
	height: 1px;
	border-width: 0px;	
}
.card-tiled-list {
	display: grid;
	grid-template-columns: minmax(96px, 1fr) minmax(96px, 1fr);
	grid-gap: 5px;
	grid-template-rows: auto;
	font-size: 0px;	
}
.tile {
	width: 100%;
	/*border-radius: 5px;*/
	/*overflow: hidden;*/
}
.tile > a {
	display: block;
	text-decoration: none;
}
.thumbnail {
	width: 100%;
	border-radius: 5px;
}
.video-dropdown-item { 
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3) /*rgba(0, 146, 148);*/
}
.video-dropdown-item:first-of-type {
	border-top: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3) /*rgba(0, 146, 148);*/
}
.video-header-link { 
	display: block;
	width: 100%;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5em;
}
.song-anime {
	display: block;
}
.song-title {
	color: rgba(136,153,165,0.9);
}

/* Likes And Follows ======================*/
#tab_linksandfollows {
	/*margin-bottom: 1rem;*/
}
.lf-list {
	background-color: rgb(27, 40, 53);
	border-radius: 10px;
	margin-bottom: 1rem;
	/*padding-top: 1rem;
	padding-bottom: 1rem;*/
}
.lf-heading {
	padding-top: 1rem;
	padding-bottom: 1rem;	
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	font-weight: bold;	
}
.lf-item-container {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px;
	border-style: solid;
	border-color: rgba(136,153,165,0.3); /*#21202A*/
}
.lf-link {
	display: block;
	text-decoration: none;
}

/*
.linksdrop-container {
	position: relative;
	display: inline-block;	
	float: right;
}
.linksdropbtn {
	padding: 5px 20px;
	border-style: solid;
	border-radius: 15px;
	border-width: 1px;
	border-color: rgba(0, 146, 148, .1);
	color: white;
	background-color: rgba(0, 146, 148, .1);
	text-decoration: none;
}
.linksdropbtn-content {
	display: none;
	position: absolute;
	right: 0;
	width: 200px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	background-color: rgb(21,32,43) /* rgb(7,48,66) #21202A;
	z-index: 1;
}
.linksdropbtn-item {
	text-decoration: none;
	display: block;
	padding: 10px;
	width: 100%;
	color: white;
}
*/

.lf-image {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	margin-right: 5px;
	border-radius: 50%;	
}
.lf-text {
	display: inline-block;
	vertical-align: middle;
}
.lf-displayname {
	display: block;
	margin-bottom: 5px;
	color: white;
}
.lf-handle {
	display: block;
	color: rgba(136,153,165,0.9);
}
.lf-handle-icon {
	/*letter-spacing: .2em;*/
	font-size: 1em;
}
h1 {
	vertical-align: center;
	width: 100%;
	margin: 0;
	padding: 1rem 10px;
	font-size: 1.5em;
	font-weight: lighter;
	/*background-color: pink;*/
	/*line-height: 0;*/		
}
h2 { 
	width: 100%;
	margin-bottom: 1rem;
	/*padding: 0 10px;	*/
	font-size: 1.5em;
	font-weight: lighter;
}
h4 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: lighter;
}

/* Media Queries ======================*/
#page_title_wrapper { 
	grid-area: title;
}
#bio {
	grid-area: bio;
}
#nav {
	grid-area: nav;
}
#tab_about {
	grid-area: tab_about;
}
#main {
	grid-area: main;
}

#tab_linksandfollows {
	grid-area: tab_linksandfollows;
}
#social {
	grid-area: social;
}
#page_wrapper {
	display: grid;
	grid-template-columns:minmax(300px, 500px);
	grid-template-rows: auto;
	/*grid-row-gap: 1rem;*/
	grid-column-gap: 3rem;
	grid-template-areas: 
		"title"
		"bio"
		"nav"
		"tab_about"
		"main"
		"tab_linksandfollows"
		"social";
}
@media (min-width: 540px) {
	#page_wrapper {
		display: grid;
		grid-template-columns: 1fr minmax(300px, 500px) 1fr;
		grid-template-rows: auto;
		/*grid-row-gap: 1rem;*/
		grid-column-gap: 3rem;
		grid-template-areas: 
			". title ."
			". bio ."
			". nav ."
			". tab_about ."
			". main ."
			". tab_linksandfollows ."
			". social .";
	}
	.tiled-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		font-size: 0px; 
	}			
}
@media (min-width: 900px) {
	#page_wrapper {
		display: grid;
		grid-template-columns: 1fr minmax(260px, 280px) minmax(320px, 540px) 1fr;
		grid-template-rows: auto;
		/*grid-row-gap: 1rem;*/
		grid-column-gap: 3rem;
		grid-template-areas: 
			". title nav ."
			". bio main ."
			". tab_about main ."
			". social main ."
			". . main ."
			". . tab_linksandfollows .";
	}	
	/*
	#nav_about {
		display: none;
	}
	#tab_about {
		display: block;
	}
	#nav_linksandfollows {
		display: inline-block;
	}
	#tab_linksandfollows {
		display: block;
	}
	*/

}
@media (min-width: 1300px) {
	#page_wrapper {
		display: grid;
		/*grid-template-columns: 1fr minmax(250px, 300px) minmax(480px, 540px) minmax(300px, 340px) 1fr;*/
		grid-template-columns: minmax(1rem, 1fr) minmax(250px, 300px) minmax(480px, 540px) minmax(300px, 340px) minmax(1rem, 1fr);
		grid-template-rows: auto;
		/*grid-row-gap: 1rem;*/
		grid-column-gap: 3rem;
		grid-template-areas: 
			". title nav . ."
			". bio main  tab_linksandfollows ."
			". tab_about main tab_linksandfollows ."
			". social main tab_linksandfollows ."
			". . main tab_linksandfollows ."
			". . main . .";
	}	
	/*
	#nav_about {
		display: none;
	}
	#tab_about {
		display: block;
	}
	#nav_linksandfollows {
		display: none;
	}
	#tab_linksandfollows {
		display: block;
	}
	*/
}